body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: white;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #EAF6F6;
  border-width: 7px;
  width: 3%;
}
p {
  line-height: 2;
}

a:hover {
  color: #EAF6F6;
}

/*************************CLASS SELECTORS****************************/
.alchemy {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px 0;

}
.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me {
  margin-top: 100px;
}
.copyright {
  color: #EAF6F6;
  padding-top: 30px;
  font-size: 0.75rem;
}
.footer-link {
  padding: 0 25px;
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.middle-container {
  margin-top: 50px;
}
.mountain {
  width: 60%;
}
.profile {
  margin: 100px 0;
}
.profile-text {
  width: 25%;
  margin: 50px auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.science {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skills {
  margin: 100px 0 150px 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
